* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    font-size: 1.2em;
    color: rgb(27, 27, 27)
}
button {
    margin-top: 15px;
    margin-bottom: 10px;
}
#messages-section {
    width: 100%;
    padding: 15px;
}
#messaging-section {
    margin: 5px 0 10px 35px;
    padding: 15px 0 15px 5px;
    width: 33%;
}

#messaging-section h3 {
    background-color: rgb(233, 246, 250);
    font-size: 1.2em;
    padding: 15px 0 15px 5px;
    padding-bottom: 30px;
    background-color: rgb(243, 240, 235, .5);
}
#messaging-section h2 {
    background-color: rgb(233, 246, 250);
    font-size: 1.5em;
    padding: 15px 0 15px 5px;
    padding-bottom: 30px;
    background-color: rgb(243, 240, 235, .5);
}

#messaging-section > section {
    border: grey 2px solid;
    border-radius: 2%;
}

input {
    padding: 2px;
    margin: 8px;
}

label {
    padding-left: 
        10px;
}