* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
button {
    margin-top: 15px;
    margin-bottom: 10px;
}
#messages-section {
    background-color: lightblue;
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;
}
#messaging-section {
    border: 2px grey solid;
    width: 33%;
    margin-left: 15px;
    padding: 20px;
}

#messaging-section > h2 {
    padding-bottom: 15px;
}